<!DOCTYPE html>
<html>
<head>
    <title>No Flood</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

<div class="container">

    <h1 style="color:green;">✅ Safe Zone</h1>

    <h2>No Flood Risk Detected.</h2>

    <p>
        Current weather conditions indicate no flood possibility.
    </p>

    <a href="/Predict">
        <button>Predict Again</button>
    </a>

    <a href="/">
        <button>Home</button>
    </a>

</div>

</body>
</html>