<!DOCTYPE html>
<html>
<head>
    <title>Flood Alert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

<div class="container">

    <h1 style="color:red;">⚠ Flood Alert!</h1>

    <h2>Flood is Likely to Occur.</h2>

    <p>
        Please take necessary precautions and follow disaster management guidelines.
    </p>

    <a href="/Predict">
        <button>Predict Again</button>
    </a>

    <a href="/">
        <button>Home</button>
    </a>

</div>

</body>
</html>