<!DOCTYPE html>
<html>
<head>
    <title>Flood Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

<div class="container">

    <h1>Flood Prediction System</h1>

    <p>
        This application predicts the possibility of flood occurrence
        using Machine Learning based on rainfall and weather parameters.
    </p>

    <img src="https://images.unsplash.com/photo-1547683905-f686c993aae5?w=900"
         width="600">

    <br><br>

    <a href="/Predict">
        <button>
            Predict Flood
        </button>
    </a>

</div>

</body>
</html>